@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;800&display=swap");

body {
  background-color: #1b3764;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  position: relative;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.font-cardo {
  font-family: "Cardo", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-lexend {
  font-family: "Lexend", sans-serif;
}

.notice {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  box-shadow: 0px 9px 12px 0px #001a44;
  left: 25%;
  flex-direction: column;
  animation: 2s fade;
  animation-delay: 8s;
}

.notice::before {
  content: "";
  background-color: #ffffffcd;
  height: 2px;
  animation: 10s slidein;
}

.notice .cancel {
  position: relative;
  width: 100%;
}

.notice .cancel span {
  position: absolute;
  font-size: 30px;
  top: -28px;
  right: -5px;
  color: #ffffff;
  cursor: pointer;
}

.notice .cancel span:hover {
  color: #ffffffdc;
}

.notice .message {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.618);
  padding: 1rem;
}

footer {
  bottom: 0;
  position: sticky;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    height: 0%;
  }
}

@keyframes slidein {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

table {
  outline: 5px solid #1b3764;
  background-color: #ffffff;
  color: #1b3764;
}

.sbmtBtn {
  width: 100%;
  margin: 5px;
  text-decoration: none;
  display: grid;
  justify-items: center;
}

.btn-primary {
  width: 50%;
}

.btn-primary,
#cgpa {
  background-color: #ffffff;
  color: #1b3764;
  border: unset;
  margin: 0;
  display: inline;
}
input::placeholder {
  color: #001a44;
}
.nav-link:hover,
.nav-link:focus {
  background-color: white;
  color: #001a44;
}
.btn-primary:hover {
  background-color: #001a44;
  color: white;
}
.session {
  border-radius: 5px;
  margin: 10px 5px;
  background-color: #b4c7e7;
  color: #001a44;
  height: 2.5rem;
  width: 15rem;
}

footer :not(.bi) {
  color: #001a44;
  background-color: #b4c7e7;
  padding: 1%;
}

.footer-icons {
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  justify-content: space-between;
}

.footer-icons a {
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.footer-icons svg {
  width: 24px;
  height: 24px;
}
.footer-icons a:hover,
.footer-icons a:focus {
  color: #fff;
  svg {
    fill: #fff;
  }
}

.footer-icons svg.bi-pencil-square {
  margin-left: unset;
}

.add {
  width: 30%;
  height: 2.5rem;
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  border: unset;
  display: inline;
}

.add,
.session {
  width: 30%;
}

.right-icon {
  float: right;
}

.left-icon,
#cgpa {
  float: left;
}

.bi-pencil-square {
  margin-left: 25%;
}
input {
  color: #001a44;
  background-color: #b4c7e7;
}
.nav-link {
  color: #fff;
  border-radius: 25px;
  padding: 5px 25px;
}
/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

.alert {
  align-items: center;
  color: red;
  background-color: #1b3764;
  text-align: center;
  border: none;
  margin: 1px;
}

.auth {
  width: 50%;
}

.register {
  padding: 5px 30px;
  text-decoration: none;
}

.btn:active {
  background-color: #001a44 !important;
}

.cgpa {
  padding: 20px 40px;
  box-shadow: 9px 9px 12px 0px #001a44;
  border-radius: 0px 25px 25px 0px;
}

table.table.table-striped tr:hover {
  background-color: #001a44 !important;
  td {
    color: white !important;
  }
}

.table > :not(caption) > * > th {
  margin-top: 10px;
  background-color: #537fbe;
  color: white;
}

.table > :not(caption) > * > th[colspan="7"] {
  background-color: #537fbe;
  color: white;
  margin-bottom: 20px;
  padding-top: 1.5rem;
}

.inactive {
  display: none;
}
.result-heading {
  cursor: pointer;
  height: 4rem;
  border-radius: 20px;
  font-weight: 700;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.alert {
  background-color: #001a44d1;
  color: #f52222;
  width: 25%;
}

footer :not(.bi) .ref {
  color: #6509db;
  padding: 1% 0;
}

/* Alert messages */
.warning {
  color: #f5b82e;
}

.success {
  color: #04ee00;
}

.info {
  color: #b4c7e7;
}

.font-large {
  font-weight: 700;
}
tbody.results tr.result-heading ~ tr th {
  color: #fff;
}

@media (max-width: 768px) {
  .add,
  .session,
  input,
  .btn-primary,
  .auth {
    width: 100%;
  }
  td {
    font-size: 15px;
  }

  th {
    font-size: 13px;
  }

  .table > :not(caption) > * > * {
    padding: 0.5rem 5px 0.5rem 5px;
  }

  .footer-icons {
    gap: 15px;
  }
  .footer-icons a {
    gap: 5px;
  }

  nav .navbar-brand {
    font-size: medium;
  }

  .navbar > .container-fluid {
    flex-wrap: wrap;
  }

  .alert {
    width: 100%;
  }

  .notice {
    top: 4rem;
    width: 90%;
    left: 5%;
  }

  body {
    gap: 154px;
    justify-content: unset;
  }

  .center-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .w-100 {
    width: 100%;
  }

  footer {
    position: fixed;
  }
}

@media (max-width: 425px) {
  .footer-icons svg {
    width: 16px;
    height: 16px;
  }
  td,
  th {
    font-size: 10px;
  }
}
