{% extends "layout.html" %}

{% block title %}
Add Course
{% endblock %}

{% block main %}
<form action="/add" method="post">
    <input class="add" type="text" name="course_Code" autocomplete="off" placeholder="Course code">
    <input class="add" type="text" name="credit_unit" autocomplete="off" placeholder="Credit unit">
    <input class="add" type="text" name="letter_grade" autocomplete="off" placeholder="Letter grade">
    <div>
        <select class="session" name="session">
            <option selected disabled>Session</option>
            {% for session in sessions %}
            <option>{{session - 1}}/{{session}}</option>
            {% endfor %}
        </select>
        <select class="session" name="semester">
            <option selected disabled>Semester</option>
            {% for semester in semesters %}
            <option>{{semester}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="sbmtBtn">
        <button class="btn btn-primary" type="submit">Add Course</button>
    </div>
</form>
<div>
    <a class="sbmtBtn" href="/">
        <button class="btn btn-primary">Calculate</button>
    </a>
</div>
{% endblock %}