{% extends "layout.html" %}

{% block title %}
Edit Course
{% endblock %}

{% block main %}
<form class="center-elem" action="/edit" method="post">
    <select class="session" name="course_Code">
        <option selected disabled>Course</option>
        {% for course in all_courses %}
        <option>{{course[0]}}</option>
        {% endfor %}
    </select>
    <input class="add" type="text" {% if credit_unit %} value="{{ credit_unit }}" {% endif %} name="credit_unit" autocomplete="off" placeholder="Credit unit">
    <input class="add" type="text" {% if letter_grade %} value="{{ letter_grade }}" {% endif %} name="letter_grade" autocomplete="off" placeholder="Letter grade">
    <div class="center-elem w-100">
        <select class="session" name="session">
            <option selected disabled>Session</option>
            {% for session in sessions %}
            <option>{{session - 1}}/{{session}}</option>
            {% endfor %}
        </select>
        <select class="session" name="semester">
            <option selected disabled>Semester</option>
            {% for semester in semesters %}
            <option>{{semester}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="sbmtBtn">
        <button class="btn btn-primary" type="submit">Edit Course</button>
    </div>
</form>
<div class="center-elem">
    <a class="sbmtBtn" href="/">
        <button class="btn btn-primary">Calculate</button>
    </a>
</div>
{% endblock %}