{% extends "layout.html" %}

{% block title %}
CGPA Calculator
{% endblock %}

{% block main %}
<div>
    <table class="table table-striped">
        <tbody class="results">
            {% block body %}
            {% for result in results %}
            <tr class="result-heading {{result[0][8]}} font-lexend">
                <th colspan="7">Show Results for {{result[0][8]}} Session</th>
            </tr>
            <tr data-session={{result[0][8]}} class="font-inter font-large inactive">
                <th>Course Code</th>
                <th>Credit Unit</th>
                <th>Letter Grade</th>
                <th>Grade Point</th>
                <th>Quality Point</th>
                <th>Semester</th>
                <th>Session</th>
            </tr>
            {% for course in result %}
            <tr data-session={{result[0][8]}} class="font-inter inactive">
                <td>{{course[2]}}</td>
                <td>{{course[3]}}</td>
                <td>{{course[4]}}</td>
                <td>{{course[5]}}</td>
                <td>{{course[6]}}</td>
                <td>{{course[7]}}</td>
                <td>{{course[8]}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endblock %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr class="font-inter font-large">
                <th>Session</th>
                <th>Total Quality Points</th>
                <th>Total Credit Units</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(length) %}
            <tr class="font-inter">
                <td>{{sessions[i][0]}}</td>
                <td>{{quality_points[i]}}</td>
                <td>{{credit_units[i]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="cgpa font-lexend" id="cgpa">Your CGPA is <b>{{cgpa}}</b><small>{% if cgpa >= 3.5 %} Keep it up!! {% else %} Put in more
        effort {% endif %}</small></p>
{% endblock %}